<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- boot strap css cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>Habit Tracker Login</title>
    <link rel="stylesheet" href="../assets/css/login.css" type="text/css" />
  </head>
  <body>
    <!-- Login form -->
    <div class="container">
      <h1>Habit Tracker App</h1>
      <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
          <form action="/login" method="GET">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter your name"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter your password"
                disabled
              />
            </div>
            <button type="submit" class="btn btn-primary" id="btn">
              Default Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
