/* main Container */
.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new_habit_form {
  width: 64vw;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
#input_container {
  width: 81%;
}
#floatingInput {
  height: 88%;
}

/* dispaly container */
.display_container {
  flex-direction: column;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_form {
  display: flex;
  flex-direction: row;
}
.home_form button {
  width: 28rem;
}

/* list container */
.list_container {
  margin-top: 1rem;
}
.item_container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid;
  padding: 0.5rem;
  font-size: inherit;
  text-transform: uppercase;
  margin: 0;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  background-color: rgb(225, 222, 220);
}

.item_container p {
  margin: 0;
}
.dates_container {
  display: flex;
  text-align: center;
}
.days_container {
  display: flex;
  flex-direction: row;
}
.action_container {
  font-size: medium;
  width: 82px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 15px;
}

body {
  background-color: rgb(18, 160, 165);
}
a {
  color: #95931b;
}
a:hover {
  color: rgb(187, 80, 8);
}
