h1 {
  color: rgb(239, 235, 236);
}

.container {
  margin-top: 2%;
  background-color: rgb(10, 87, 113);
  width: 60vw;
  height: 80vh;
  text-align: center;
  color: aliceblue;
  border-radius: 10%;
}
